{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>
  .main {
    background-color: #dde3fd;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  .doughnut{
    gap: 2rem;
  }
  .header{
    font-family: 'Roboto', sans-serif;
    background-color: #4B49AC;
    color: #ffff;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 1rem 1rem 0rem 0rem ;

  }
  .row{
    gap: 2%;
  }
  .header h2{
    padding: 1rem;
  }
  .breaker{
    margin-left: 1%;
    border: 1px solid #4B49AC;
  }
  .row{
    margin-left: 2%;
  }
  .card {
    margin-top: 2%;
    width: 100%;
    box-shadow: -10px 10px 10px 0px rgba(37, 37, 37, 0.127);
    box-shadow: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(30px);
    
  }

  .canvas-frame {
    margin-bottom: 3%;
    
  }


  .share{
    display: flex;
  }
  .information{
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-left: 2rem;
  }
  .text-muted{
    font-weight: 400;
    font-size: large;
  }
.data{
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}
.card .card-title{
  font-size: large;
  width: 100%;
  color: #4B49AC;
}
.card-title{
  margin-left: 5%;
}
.security{
  margin-top: 0%;
}
.barchart{
  width: 40%;
}
.break{
  margin-top: 2%;
}
h4{
  color: #ffff;
}
.new-chart{
  width: 40%;
  height: 100%;
  margin-top: 0%;
}
.gaugedisplay{
  width: 40%;
  margin-top: 0%;
  height: 70%;
}
.myDiv{
  display: flex;
  height: 70%;
  margin-top: 0%;
}
.second{
  gap: 1rem;
}
.plotly{
  width: 70%;
}
</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>chart.js</title>
</head>

<body>
  <div class="main overflow-auto">
    <div class="header"><h2>Main Dashboard</h2></div>
    <hr class="breaker">
    <div class="row  first doughnut">
    <div class="grid-margin marginleft">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ram Usage</h4>
          <div class="share">
          <canvas class="canvas-frame" id="chartId" aria-label="chart" height="200" width="200"></canvas>
          <span class="information">Ram usage <br class="break"><span class="text-muted data">{{data.ram_usage}}%</span></span>
        </div>
        </div>
      </div>
    </div>
    <div class="grid-margin marginleft">
      <div class="card">
        <div class="card-body card1">
          <h4 class="card-title">Disk Usage Information</h4>
          <div class="share">
          <canvas class="canvas-frame" id="chartId1" aria-label="chart" height="200" width="200"></canvas>
          <span class="information disk">Disk Occupied <br><span class="text-muted data">{{data.disk_info}}%</span></span>
        </div>
        </div>
      </div>
    </div>
    <div class="grid-margin marginleft">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Incidents Report</h4>
          <div class="share">
          <canvas class="canvas-frame" id="chartId2" aria-label="chart" height="200" width="200"></canvas>
          <span class="information disk">Live Incidents <br><span class="text-muted data">1</span></span>   
           <!--in the above the span the live incident count needs to be displayed for now it is static  -->
          </div>
        </div>
      </div>
    </div>
    <div class="grid-margin marginleft">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ram Usage</h4>
          <div class="share">
          <canvas class="canvas-frame" id="chartId4" aria-label="chart" height="200" width="200"></canvas>
          <span class="information">Ram usage <br class="break"><span class="text-muted data">{{data.ram_usage}}%</span></span>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row second">
    <div class="card security barchart second-chart">
      <div class="card-body ">
        <h4 class="card-title">Security State</h4>
        <canvas class="barchart" id="myChart" width="200" height="120"></canvas>
        <!-- This is also static for now -->
      </div>
    </div>
    <div class="card gaugedisplay second-chart">
      <div class="card-body">
        <h4 class="card-title">Global Compliance</h4>
        <div class="share">
            <div id='myDiv' class="myDiv"></div>  
         <!--in the above the span the live incident count needs to be displayed for now it is static  -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="chartjs-plugin-doughnutlabel.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
  <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>

  <script>
    //new doughnut chart code trial
    var data = [
    {
      domain: { x: [0, 1], y: [0, 1] },
      value: 63,
      title: { text: "" },
      type: "indicator",
      mode: "gauge+number+delta",
      delta: { reference: 34 },
      gauge: {
        axis: { range: [null, 100] },
        bar: { color: "lightgreen" },
        steps: [
          { range: [0, 100], color: "white" },
         
        ],
        bordercolor: "lightgreen",
        threshold: {
          line: { color: "red", width: 4 },
          thickness: 0.75,
          value: 99
        },
        hoverinfo: "all"
      }
    }
  ];
  var layout = { width: 450, height: 300, margin: { t: 0, b: 0 } ,
  font: { color: "#4B49AC", family: 'Roboto' }};
  Plotly.newPlot('myDiv', data, layout);


  
    //
    const barchart = document.getElementById('myChart').getContext('2d');
    const chart = new Chart(barchart, {
      type: 'bar',
      data: {
        labels: ['Antispyware', 'Antivirus', 'Auto-Update',"Firewall","Internet"],
        datasets: [{
          label: 'States',
          data: [100, 89, 75,45,95],
          backgroundColor: [
          'rgba(255, 99, 132, 0.6)', // Change the color of the first bar
          'rgba(255, 159, 64, 0.6)', // Change the color of the second bar
          'rgba(189, 254, 86, 0.6)', // Change the color of the third bar
          'rgba(234, 254, 86, 0.6)',
          'rgba(175, 200, 86, 0.6)',
          ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(189, 254, 86)',
          'rgba(189, 254, 86)',
          'rgba(175, 200, 86)',
        ],
        borderWidth: 1
        }],
      },
      options: {
        indexAxis: 'y', // <-- here
        responsive: true,
        plugins:{
          legend: {
            display: false // Hide the legend
          },
        },
        scales: {
          x: {
            grid: {
              display: false // Hide the x-axis grid lines
            },
          },
          
        }
      }
    });
    // This above part is the horizontal bar chart
    var chrt4 = document.getElementById("chartId4").getContext("2d");
    var chartId4 = new Chart(chrt4, {
      type: 'doughnut',
      data: {
        labels: ["RAM USED", "UNUSED RAM"],
        datasets: [{
          label: "Ram Usage Graph",
          data: ["{{data.ram_usage}}", "{{data.unused_ram}}"],
          backgroundColor: ['rgba(255, 99, 133, 0.788)', 'rgba(54, 162, 235, 0.6)'],
          hoverOffset: 5
        }],
      },
      options: {
        responsive: false,
        cutout: 70,
        legend: {
          display: false // Hide the legend
        },
        plugins: {
          doughnutLabel: {
            labels: [
              {
                text: "the title",
                font: {
                  size: '60'
                }
              }
            ]
          },
          legend: {
            display: false // Hide the legend
          },
        },
        elements: {
          arc: {
            borderWidth: 0, // Set the border width to 0 to hide it
          },
        },
        shadowColor: 'rgba(0, 0, 0, 0.9)', // Shadow color
        shadowBlur: 10, // Shadow blur radius
        shadowOffsetX: 5, // Shadow horizontal offset
        shadowOffsetY: 5, // Shadow vertical offset
      },
    });
    

    var chrt1 = document.getElementById("chartId").getContext("2d");
    var chartId1 = new Chart(chrt1, {
      type: 'doughnut',
      data: {
        labels: ["RAM USED", "UNUSED RAM"],
        datasets: [{
          label: "Ram Usage Graph",
          data: ["{{data.ram_usage}}", "{{data.unused_ram}}"],
          backgroundColor: ['rgba(255, 99, 133, 0.788)', 'rgba(54, 162, 235, 0.6)'],
          hoverOffset: 5
        }],
      },
      options: {
        responsive: false,
        cutout: 70,
        legend: {
          display: false // Hide the legend
        },
        plugins: {
          doughnutLabel :{
            labels : [
            {
              text : "the title",
              font :{
                size : '60'
              }
            }
            ]
          },
          legend: {
            display: false     // Hide the legend
          },
        },
        
      },
    });
    

    var chrt2 = document.getElementById("chartId1").getContext("2d");
    var data = {
      labels: ["DISK USED", "EMPTY DISK"],
      datasets: [{
        label: "Disk Usage Graph",
        data: ["{{data.disk_info}}", "{{data.diskempty}}"],
        backgroundColor: ['lightblue', 'lightgreen'],
        hoverOffset: 5
      }],
    };
    
    var chartId2 = new Chart(chrt2, {
      type: 'doughnut',
      data: data,
      options: {
        responsive: false,
        cutout: 70,
        plugins: {
          legend: {
            display: false // Hide the legend
          },
        },
      },
    });
    
    var chrt3 = document.getElementById("chartId2").getContext("2d");
    var chartId2 = new Chart(chrt3, {
      type: 'doughnut',
      data: {
        labels: [ "Total Incidents","Live Incident"],
        datasets: [{
          label: "Ram Usage Graph",
          data: [5, 1],
          backgroundColor: ['yellow', 'aqua'],
          hoverOffset: 5
        }],
      },
      options: {
        responsive: false,
        cutout: 70,
        plugins:{
          legend: {
            display: false // Hide the legend
          },
        }
        
      },
    });
    
  </script>
</body>

{% endblock content %}
